---
import { SITE } from "../config";
import GlobalNavLink from "./GlobalNavLink.astro";

const { pathname } = Astro.url;

const Element = pathname === "/" ? "h1" : "p";

const navLists = [
  {
    name: "Sample",
    url: `${SITE.base}/sample/`,
  },
];
---

<header class="header">
  <div class="header__inner">
    <Element class="header__title">
      <a href={`${SITE.base}/`} class="logo">
        {SITE.name}
      </a>
    </Element>
    <nav class="header__nav">
      <div id="globalNav" class="globalNav">
        <ul class="globalNav__list">
          {
            navLists.map((item) => (
              <li class="globalNav__item">
                <GlobalNavLink class="global__link" href={item.url}>
                  {item.name}
                </GlobalNavLink>
              </li>
            ))
          }
        </ul>
      </div>
    </nav>
  </div>
</header>

<style>
  .header__inner {
    padding-block: var(--space-sm);
    padding-inline: var(--offset-md);
  }
</style>
