---
import { SITE, COMPANY } from "../config";
import GlobalNavLink from "./GlobalNavLink.astro";
import ButtonHamburger from "./ButtonHamburger.astro";

import logo from "../assets/img/logo/logo-primary.svg";

const navLists = [
  {
    name: "About",
    url: `${SITE.base}about/`,
  },
];
---

<header class="header">
  <div class="header__inner">
    <h1 class="header__title">
      <a href={`${SITE.base}`} class="logo">
        {SITE.name}
      </a>
    </h1>
    <nav class="header__nav">
      <ButtonHamburger text="Menu" controls="globalNav" />

      <div id="globalNav" class="globalNav" aria-hidden="true">
        <ul class="globalNav__list">
          {
            navLists.map((item) => (
              <li class="globalNav__item">
                <GlobalNavLink class="global__link" href={item.url}>
                  {item.name}
                </GlobalNavLink>
              </li>
            ))
          }
        </ul>
      </div>
    </nav>
  </div>
</header>

<style lang="scss">
  @charset 'UTF-8';
  @use "sass:math";
  @use "../assets/scss/global" as *;

  .header {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: pxToRem(16px) 5%;
    }
  }

  .globalNav {
    &__list {
      display: flex;
      align-items: center;

      li + li {
        margin-left: pxToRem(40px);
      }
    }
  }


  .logo {
    color: inherit;
    text-decoration: none;
  }
</style>
